@model  IEnumerable<Blog>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <h2>Blog List</h2>
    <hr />
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <p>
                    <a href="/Blog/AddorUpdate" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New</a>
                </p>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Is Approved</th>
                            <th>Is Home</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BlogId</td>
                                <td>
                                    <img src="~/img/@item.Image" width="100" height="100" />
                                </td>
                                <td>@item.Title</td>
                                <td>@item.Date</td>
                                <td>
                                    @if (@item.IsApproved)
                                    {
                                        <i class="fa fa-check" aria-hidden="true"> </i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-times" aria-hidden="true"> </i>
                                    }

                                </td>
                                <td>
                                    @if (@item.IsHome)
                                    {
                                        <i class="fa fa-check" aria-hidden="true"> </i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-times" aria-hidden="true"> </i>
                                    }

                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "AddorUpdate", "Blog", new { id = item.BlogId }, new { @class = "btn btn-primary btn-sm" })
                                    <a href="/Blog/Delete/@item.BlogId"
                                       onclick="return confirm('Are you sure want to delete this category?')"
                                       class="btn btn-danger btn-sm" title="Delete">
                                        Delete
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    @*<a class="" btn btn-primary btn-sm" asp-controller="Blog" asp-action="Delete" asp-route="@item.Id">Delete</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Blog not found
                </div>
            }

        </div>

    </div>

</div>


